@font-face {
    font-family: "Verdana";
    src: local("Verdana"),
     url(~assets/verdana-font-family/verdana.ttf) format("truetype");
}
@font-face {
    font-family: "CaghenDemo";
    src: local("CaghenDemo"),
     url(~assets/Caghen_Demo.ttf) format("truetype");
}

html {
    font-family: "Verdana";
}

.container {
    max-width: 90% !important;
    margin: 0 auto;
}